<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adat feltöltés</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}"> <!-- Link to custom CSS -->
        <style>
        .card {
            width: 100%;
            max-width: 500px;
            margin: auto;
        }
        .center-button {
            display: flex;
            justify-content: center;
        }
        .center-title {
            text-align: center;
        }
        .info-button {
            margin-left: 10px;
        }
        .modal-body pre {
            white-space: pre-wrap; /* Wrap text */
        }
        .modal-dialog {
            max-width: 80%; /* percentage as needed for wider modal */
        }
    </style>
</head>
<body>
   <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/admin}">Kezdőlap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/datas}">Adatok</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/results}">Eredmények</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/statistics}">Statisztika</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/ppt}">Oktatások</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/companies}">Cégek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/receivers}">Fogadó felek</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/positions}">Pozíciók</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/dataupload}">Adatok feltöltése</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header center-title">
                <h2>Adatfeltöltés: Pozíció, Cég, Fogadó fél </h2>
            </div>
            <div class="card-body">
                <form id="uploadForm" method="POST" th:action="@{/admin/uploadData}" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group mb-3">
                        <label for="file" class="form-label">Excel fájl:</label>
                        <div class="input-group">
                            <input type="file" id="file" name="file" class="form-control" required>
                            <button type="button" class="btn btn-info btn-sm info-button" data-bs-toggle="tooltip" data-bs-placement="right" title="1. Oszlop: Pozíció fejléc, alatta tartalom. 2. Oszlop: Cég fejléc, alatta tartalom. 3.Oszlop: Fogadó fél fejléc, alatta tartalom.">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div class="center-button">
                        <button type="submit" class="btn btn-primary mt-3" id="uploadButton" disabled>Feltölt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for feedback -->
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true" th:classappend="${#strings.isEmpty(message) ? '' : 'show'}" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackModalLabel">Feltöltés eredménye</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre id="feedbackMessage" th:text="${message}"></pre>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });

            $('#file').on('change', function() {
                if ($(this).val()) {
                    $('#uploadButton').prop('disabled', false);
                } else {
                    $('#uploadButton').prop('disabled', true);
                }
            });

            // Show the feedback modal if there's a message
            let feedbackMessage = $('#feedbackMessage').text().trim();
            if (feedbackMessage.length > 0) {
                $('#feedbackModal').modal('show');
            }
        });

        function showFeedback(message) {
            $('#feedbackMessage').text(message);
            $('#feedbackModal').modal('show');
        }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
</body>
</html>
