<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <p>Kedves Kollégák,</p>
    <p>A következő Kollégáknak 30 napon belül lejár az adott oktatás érvényességi ideje:</p>
    <table>
        <thead>
            <tr>
                <th>Oktatás neve</th>
                <th>Név</th>
                <th>Születési idő</th>
                <th>Email cím</th>
                <th>Telefonszám</th>
                <th>Fogadó fél</th>
                <th>Cég</th>
                <th>Érvényes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${results}">
                <td th:text="${result.ppt.filename}">PPT Name</td>
                <td th:text="${result.user.name}">Name</td>
                <td th:text="${#dates.format(result.user.birthdate, 'yyyy.MM.dd')}">Birthdate</td>
                <td th:text="${result.user.email}">Email</td>
                <td th:text="${result.user.phoneNumber}">Phone Number</td>
                <td th:text="${result.user.receiver.name}">Receiver Name</td>
                <td th:text="${result.user.company.name}">Company Name</td>
                <td th:text="${#dates.format(result.valid, 'yyyy.MM.dd')}">Valid Until</td>
            </tr>
        </tbody>
    </table>
    <p>Üdvözlettel,</p>
    <p>Admin</p>
</body>
</html>
